*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    height: 5rem;
    background: rgb(41, 28, 87);
    color: white;
    line-height: 5rem;
}
img{
    height: 320px;
    width: 320px;
    object-fit: cover;
    border-radius: 50%;
}
.choice{
    height: 350px;
    width: 350px;
     border-radius: 50%;
     display: flex;
     align-items: center;
    justify-content: center;
}
.choices{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 5rem;
}
.choice:hover{
   background: black;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score , #comp-score{
    font-size: 4rem;
}
.msg-container {
    margin-top: 5rem;
}
#msg{
    background-color: rgb(15, 46, 107);
    color: white;
    font-size: 50px;
    display: inline;
    padding: 20px;
    border-radius: 5rem;
}