*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: aquamarine;
}
.container{
    height: 70vh;
      display: flex;
     justify-content: center;
   align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
     justify-content: center;
   align-items: center;
}
.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-color: beige;
    font-size: 8vmin;
    color: rgb(71, 167, 167);
}
#reset{
    background: black;
    color: white;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 9px;
    border: none;
}
#new-btn{
    background: black;
    color: white;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 9px;
    border: none;
}
#msg{
    color: white;
    font-size: 5vmin;
}
.msg-container{
    height: 15vmin;
}
.hide{
    display: none;
}